<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".StaffDashboardActivity"
            android:exported="false" />
        <!-- Login Screen (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Register Screen -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Home Screen -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" /> <!-- Visitor Approve Screen (M3 - Week 2) -->
        <activity
            android:name=".VisitorApproveActivity"
            android:exported="false"
            android:label="Pre-Approve Visitor" /> <!-- Visitor Arrival Screen (M3 - Week 2) -->
        <activity
            android:name=".VisitorArrivalActivity"
            android:exported="false"
            android:label="Visitor Arrival" />
        <activity
            android:name=".VisitorAuthActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryLogActivity"
            android:exported="false" />
        <activity
            android:name=".DeliveryActivity"
            android:exported="false" />
        <activity android:name=".AlertsActivity" />
        <activity android:name=".AddStaffActivity" />
        <activity android:name=".StaffEntryActivity" />
        <activity android:name=".StaffHistoryActivity" />
        <activity android:name=".StaffListActivity" />
        <activity android:name=".StaffMenuActivity" />
        <!-- messaging service firebase -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <!-- for visitor arrival alerts for residetn -->

        </service>
    </application>

</manifest>